<% if (true) { %>
<h1>Stats</h1>
<h1>Voters <%= voters.votersCount %></h1>
<h1>Voted <%= voters.voted %></h1>
<h1>Not Voted <%= voters.notVoted %></h1>
<% } %>
<a href="javascript:window.history.back()">Go back</a>
